# Ignore artifacts:
build
coverage
**/.git
**/.svn
**/.hg
**/android
android/app/google-services.json
android/delivery/service-account.json
**/ios/
ios/IntermediariosApp/Images.xcassets/AppIcon.appiconset/Contents.json
ios/IntermediariosApp/Images.xcassets/Contents.json
ios/IntermediariosApp/Images.xcassets/LogoWhite.imageset/Contents.json
**/configs
**/node_modules
**/patches
.env
.env.dev
.env.production
.env.staging

.eslintrc.js
.flowconfig
.gitignore
.gitattributes
.prettierrcp
.vscode/settings.json

App.js
app.json
app/App.js

azure-pipelines.yml
babel.config.js
index.js
metro.config.js
package.json
README.md
yarn.lock
devcontainer.json

/vendor/bundle/
jest.config.js
tsconfig.json

__tests__/App.test.tsx
.husky/install.mjs
.prettierrc.js
.watchmanconfig
.yarn/releases/yarn-3.6.4.cjs
**/.yarn/
**/.vscode/
**/.bundle/
App.tsx
commitlint.config.js
.yarnrc.yml
