# Ignore artifacts:
build
coverage
**/.git
**/.svn
**/.hg
**/android
android/app/google-services.json
android/delivery/service-account.json
**/ios/
ios/IntermediariosApp/Images.xcassets/AppIcon.appiconset/Contents.json
ios/IntermediariosApp/Images.xcassets/Contents.json
ios/IntermediariosApp/Images.xcassets/LogoWhite.imageset/Contents.json
**/configs
**/node_modules
**/patches
.env
.env.dev
.env.production
.env.staging
/vendor/bundle/

.eslintrc.js
.flowconfig
.gitignore
.gitattributes
.prettierrc
.vscode/settings.json

App.js
app.json
app/App.js

azure-pipelines.yml
babel.config.js
index.js
metro.config.js
package.json
README.md
yarn.lock
devcontainer.json

vendor/

jest.config.js
tsconfig.json

**/.yarn/
**/.vscode/
**/.bundle/
